* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


header {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: linear-gradient(#3b1d65,#210d26)
}

.header__nav  {
    
    height: 100px;
    flex:5px;
    padding-left: 20px; 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style: italic;


}
.header__nav-ul  {
    font-size: 18px;
    color:rgb(241, 231, 249);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.header__content-logo {
    display:flex;
}

.header__content-logo-img {
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 35px;
    padding: 0.5px;
    margin: 20px;
    left: 30px;
    width: 80px;

}


.header__content-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 5 1 auto;
   
}
.header__content-option {
    color: rgb(255, 255, 255);
    margin: 0 15px;
}

.container__receta {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.container__receta h1 {
    font-size: 30px;
    margin-bottom: 10px;
}
.container__receta p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
}
.container__img {
    width: 200px;
    height: 200px;



}


/* Pagina de inicio */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}
body{
    background:linear-gradient(#3b1d65,#210d26);
    color: #fff;
    height: 100vh;
}
header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 0;
}
header .logo h1{
    letter-spacing: 5px;
}
header .logo h3{
    font-weight:normal;
    letter-spacing: 10px;
}
header nav a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
    padding-bottom: 10px;
}
.selected{
    border-bottom: 3px solid #ff7f4d;
}
header nav a:hover{
    border-bottom: 3px solid #ff7f4d;
}
#home{
    max-width: 1100px;
    margin: auto;
    border: 4px solid #ff7f4d;
    border-radius: 30px;
    padding: 30px 0;
}
#home .fila{
    display: flex;
    padding: 20px;
}
#home .fila .izq{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center ;
}
#home .fila .izq img{
    width: 80%;
}
#home .fila .der{
    padding: 0 30px;
}
#home .fila .der h2{
    font-size: 40px;
}
.destacado{
    color: #ff7f4d;
}
#home .fila .der{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#home .fila .der p{
    margin: 40px 0;
    font-size: 14px;
    color: #ff7f4d;
}
#home .fila .der .opciones{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
#home .fila .der .opciones .opcion{
    border-bottom: 4px solid #ff7f4d;
    padding-bottom: 6px;
}
#home .fila .der .contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home .fila .der .contacto button{
   border: none;
   background-color: #ff7f4d;
   color: #fff;
   font-weight: bold;
   padding: 3px 10px;
   font-size: 15px;
   border-radius: 30px;
   cursor: pointer;
}
#home .fila .der .contacto button:hover{
    background-color: #f5500e;
}
#home .fila .der .contacto .redes a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 0 7px;
}
#home .fila .der .contacto .redes a:hover{
    color: #f5500e;
}
#home .fila .der .contacto p{
    font-size: 12px;
}

/* Estilo de contactanos */
.contenedor {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}


.box__contenedor {
    display: flex;
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box_carousel {
    height: 30%;
}

.box_carousel-img {

    height: 600px;
}
.box__container-title-contact {
    background-color: #000000;
    background-image: url(../assets/Image/call-center.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
    position: relative;

}

.box__container-title-contact h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    align-self: center;
    color: white;
}

.box__container-title-contact h3 {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    color: rgb(248, 248, 248);
    font-size: 15px;
    align-self: center;
}

.box__container-contact {

    background-color: rgba(235, 235, 248, 0.758);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 800px;
    border-radius: 15px;
    margin: 0 50px;
    border: 0px solid black;    

}


.box__container-sub {
    color: black;
    font-size: 30px;
    text-align: center;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
    width: 60%;
}

.box__form{
    height: 80%;
    text-align: left;
    color: black;
    margin-right: 20px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 100%;
    
 }

.box__form-input{
    color: black;
    height:40px;
    padding-left: 5px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    border-bottom: 10px solid black;
    border: 1px;
    border-radius: 4px;
    box-shadow: 0px;
    background-color:white;
    margin: 1px 10px 10px 0;

}



.box__form-title {
    width: 40%;
    text-align: left;
    font-size: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3px;

}

.box__form-area {
    color: black;
    padding: 5px;
    width: 100%;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    border-bottom: 10px solid black;
    border: 1px;
    border-radius: 4px;
    background-color:white;
    margin: 15px 10px 20px 0;

}
.box__btn{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.box__boton-send {
    width: 20%;
    height: 50px;
    background-color: rgba(7, 7, 48, 0.9);
    color: white;
    border: 3px solid white;
    margin-left: 0;
    font-weight: bold;
    font-style: oblique; 
    border-radius: 3px;  

}

.box__boton-clean {
    width: 20%;
    height: 50px;
    background-color: rgba(244, 216, 38, 0.893);
    margin-left: 0;
    font-weight: bold;
    font-style: oblique; 
    border-radius: 3px;

}

.box__container-contact-seg {
    background-color: rgb(6, 6, 68);
    height: 800px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 50px;
   

}
.box__cont-article {
     display: flex;
     padding: 20px;
     flex-flow:row wrap;
     justify-content: space-between;
     align-items: flex-start;
     margin: 0;
}

.box__container-img {
    background-color: white;
    position: relative;
    top: 15vh;
    width: 60px;
    height: 60px;
    left: 10vh;
    margin-left: 90px;
    margin-right: 50px;

}

.box__company {
    width: 0;
    color: white;
    font-size: 20px;
    position: relative;
    top: 10vh;
    left: 15vh;
    
}
.box__contact_des {
    width: 70%;
    position: relative;
    top: 10vh;
    color: white;
    margin: 50px 50px 50px 30px;
    padding-right: 40px;    

}

.box__location {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.box__location h2 {

    font-size: 60px;
    font-family: 'Nunito Sans', sans-serif;
    width: 60%;
    text-align: center;
    align-self: center;
    border-bottom: 5px solid black;
    margin: 40px;
    padding: 15px;
}

.box__location-ubi {
    width: 100%;
    flex-direction: row;

    
}


/* Estilos de P치gina Servicios */

.box_inicio {
    text-align: center;
  }
      h2 {
    text-transform: uppercase; 
  }
  p {
line-height: 1.5; 
  }
  .servicio {
padding: 500px 20px 10px; 
display: flex;
margin-top: 40vh;
align-content: center;
align-items: center;
margin-bottom: 30px;
flex-flow: column wrap;

}

.servicio_ini {
    align-items: center;
    

}

.servicio_ini li {
    font-size: 18px;
    font-weight: bold;
}


.box__content__service {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.box__content__service-head {
    background-image: url(../assets/Image/bussinesman.jpg);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
    position:relative;
}

.box__content__service-head h2 {
    font-size: 70px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 60px;

}

.box__content__service-head h3 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 60px;
    padding: 5px;
}
.box__content__service-title {
    font-size: 50px;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box__content__service-articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px;
}
.box__content__service-article {
    background-color: rgba(55, 0, 255, 0.83);
    padding: 20px;
    width: 400px;
    height: 400px;
    border-radius: 18px;
    box-shadow: 0 25px 50px -12px rgb(0, 0, 6);
    margin: 100px;
}

.box__boton-presu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 40px;
    width: 600px;
    background-color: rgb(10, 77, 245);
    color: white;
    font-size: 33px;
    text-align: center;
}
/* Planes  */
.box__content__plans{
    display: flex;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.box__content__plan-head {
    background-image: url(../assets/Image/geometric.jpg);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: inline-block;
    position:relative;
}

.box__content__plan-head h2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__content__plan-head h3 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box__content__plan-title h4 {
    font-size: 45px;
    margin: 30px;
    text-align: center;
    
}

.box__content__plan-title p {
    font-size: 25;
    font-style: normal;
    font-weight: bold;
    margin: 25px;
    text-align: center;
}

.box__content__plan-articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px;
    
}

.box__content__plan-article {
    width: 400px;
    height: 800px;
    border: 1px solid black;
    margin: 50px;
    padding: 30px;
    background-color:#2513D1;
    color:white;
    border-radius: 10px;

}
.box__content__plan-article h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;

}

.box__content__plan-price {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box__content__plan-price h2 {
    font-size: 55px;
    padding-left: 5px;
}

.box__content__plan-price h4 {
    font-size: 25px;
    padding-left: 5px;
}

.box__content__plan-price-li {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 20px;
    list-style-type: disc;

}

.box__btn-plan {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 260px;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    margin-top: 70px;
    margin-left: 40px;

}
/* 
estilos de nosotros */
.mision{
    color:rgb(31, 31, 92);background:rgb(201, 131, 39);
    font-style: italic;
    margin: 2rem 8rem;
    padding: 30px;
}

.mision h1 {
    text-align: center;
    align-items: center;
    align-content: center;
}
.parrafo{

    font-size: large;
    font-weight: 300;
    margin: auto;
}
.somos{
font-size: x-large;
text-align: center;
margin: 20px;
padding: 10px;

}
/* 
secci칩n menu */
.box_m {
    margin: 10px;
    padding: 8px;
}

.box_m h2 {
    margin: 10px;
    padding: 8px;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font
}
.box_menu {
    display: flex;
    align-items: center;
    align-content: space-between;
    
}
.box_menu_pastas {
    width: 100%;
    height: 10vh;
    align-items: center;
    margin:16px;
    padding: 20px;
    text-align:justify;
    font-size: 20px;



}

.box_menu_pastas h2 {
    
    height: 10vh;
    align-items: center;
    padding: 8px;

}

.box_menu_pastas_img {
    width: 400px;
    height: 400px;
    display: flex;
    align-content: center;
    align-content: center;
    padding: 4px;
    
}



/* Estilo de pie de p치gina */
 /* Pie de p치gina */
 .footer {
    background-color: rgba(3, 3, 49, 0.763);
    margin: 30px 0 10px 0;
    padding: 20px;
    width: 100%;
 
  }
  .footer__text {
      color: rgb(255, 255, 255);
      font-size: 15px;
      display: flex;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
  }

  .footer__text a {
      text-decoration: none;
      font-size: 15px;
      color:rgb(255, 255, 255);
      display: flex;
      flex-flow: row nowrap;
      font-family: 'Open Sans', sans-serif;
     
  } 



  /* media queries */

  @media (max-width: 992px){
    
    .box_m {
        display: flex;
        align-items: center;
        align-content: center;
        flex-flow: column wrap;
        
    }
    
.box_menu {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    
}
.box_menu_pastas {
    width: 100%;
    height: 50%;
    align-self: center;
    margin:12px;
    padding: 8px;
    text-align:justify;
    font-size: 12px;

}

.box_menu_pastas h2 {
    
    height: 10vh;
    align-items: center;
    padding: 8px;

}


.box_menu_pastas_img {
    width: 200px;
    height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 4px;
    
}


  }